@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,600&family=Roboto+Condensed:ital@1&family=Roboto:ital,wght@0,100;0,400;0,500;1,300;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
.logo img{
    width: 100%;
    max-width: 100px;
    z-index: 99;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition:  all ease .5s;
    -webkit-transition:  all ease .5s;
    -moz-transition:  all ease .5s;
    -ms-transition:  all ease .5s;
    -o-transition:  all ease .5s;
    z-index: 9999;
}

header ul li{
    display: inline-block;
    margin: 0 15px;
}

header ul li a{
    color: #fff;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    font-weight: 500;
}

header:hover{
    background-color: #fff;
}
header:hover a{
    color: black;
}

.mega-Menu{
    position: absolute;
    left: 15%;
    top: 70px;
    width: 100%;
    background-color: #fff;
    padding: 20px 100px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: none;
   
}

.mega-Menu ul li{
    width: 100%;
    margin-bottom: 5px;
    display: block;
}
.mega-Menu ul li a{
    color: black;

}
header ul li:hover .mega-Menu{
    display: block;
    width: 100%;
}
.mega-Menu ul li i{
    font-size: 12px;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
}
.mega-Menu ul li a:hover i{
    opacity: 1;
}



.content{
    display: flex;
    height: 100vh;
    flex-wrap: nowrap;
}
.content .item{
    position: relative;
    width: 100%;
    overflow: hidden;
    transition:  all ease .8s;
    -webkit-transition:  all ease .8s;
    -moz-transition:  all ease .8s;
    -ms-transition:  all ease .8s;
    -o-transition:  all ease .8s;
}

.content .item img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.content .item:hover{
    width: 200%;
}
.content .item .text{
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    height: 100%;
    padding: 50px 50px 100px;
    color: #fff;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    transition: all ease .5s .2s;
    -webkit-transition: all ease .5s .2s;
    -moz-transition: all ease .5s .2s;
    -ms-transition: all ease .5s .2s;
    -o-transition: all ease .5s .2s;
}
.content .item:hover .text{
    opacity: 1;
    bottom: 0;
}
.content .item .text h3{
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 5px;
}
.content .item .text a{
    color: #fff;
    font-size: 18px;
}
.content .item .text a span{
    font-size: 20px;
    display: inline-block;
    transition: all ease 2s;
    -webkit-transition: all ease 2s;
    -moz-transition: all ease 2s;
    -ms-transition: all ease 2s;
    -o-transition: all ease 2s;
}
.content .item .text a:hover span{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}




